body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

/*#map {
  height: 100%;
  width: 100%;
}*/

#map {
  height: 700px;
  width: 100%;
  /*margin-left: 210px;*/
  margin-top: 50px;
  /*margin-bottom: 50px;*/
}
