body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #FAFAFA;
}

#map {
  height: 700px;
  width: 100%;
  margin-top: 50px;
}
#search-location-form {
display: inline;
}

#location-submit {
  float: left;

}


#location-list-module {
  margin-top: 50px;
}

.location-rating,
.list-distance{
  float: right;
}

.location-rating {
  margin-right: 65px;
}

i.rating-stars {
  margin-right: 0;
}

.location-name {
  font-weight: 800;
  font-size: 20px;
}

.location-address {
  font-style: italic;
}

.address-collapse {
  background-color: #EEE;
}

#location-list-module li.active .collapsible-header {
  background-color: #F44336;
  color: #fff;
}