body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#map {
  height: 80vh;
  width: 100%;
  /*margin-left: 210px;*/
  margin-top: 50px;
  /*margin-bottom: 50px;*/
  padding: 20px;
}

.collapsible {
  height: 80vh;
  margin-top: 50px;
  background-color:white;
}

nav {
  height:40px;
  position: fixed;
  top: 0px;
}

.infobtn {
  background-color: transparent;
  color: black;
}

#section2 {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #f44336;
  height: 90vh;
  position: relative;
}

.image-title {
  width: 60%;
}

.overlay-ground {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#section1 {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #ffff8d;
  height: 100vh;
}


/*LOCATION LIST START*/

#location-list-module {
  margin-top: 50px;
}

.location-rating,
.list-distance{
  float: right;
}

.location-rating {
  margin-right: 25px;
}

i.rating-stars {
  margin-right: 0;
}

.location-name {
  font-weight: 800;
  font-size: 18.5px;
}

.location-address {
  font-style: italic;
}

.address-collapse {
  background-color: #EEE;
}

#location-list-module li.active .collapsible-header {
  background-color: #F44336;
  color: #fff;
}
/*LOCATION LIST END*/
#green_logo_text {
  color: #4CAF50;
}

#grey_logo_text {
  color: #fafafa;
  text-decoration: line-through;
  opacity: 0.4
}

#user-location-search {
  background-color: #4CAF50 !important;
}

#userLocationInput {
  text-align: center;
}

.info_btn_color {
  background-color: #4CAF50 !important;
}
.page-footer {
  height: 10vh;
}
